h1 {
	font-size: 40px;
	color: #FFF;
	text-align: center;
	 }
	 
	 	
#tarjetas {
	
			display: flex;
			justify-content: center;
			
		  }

 
 .tarjeta    {
		      width: 20%;
			  margin: 30px 30px 30px 30px;
			  background: #FFFFFF;
			  padding: 20px;
			  text-align: center;
			  box-shadow: 1px 7px 12px #000;
			  }
		